html, body {
  height: 100%; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  //min-width: 960px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
  background-color: #f0eff1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

:invalid {
  box-shadow: none; }

.container {
  width: 960px;
  margin: 0 auto;
  background-color: #f8f8f8;
  box-sizing: border-box; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.hidden {
  display: none; }

#map {
  height: 500px; }

.nav {
  background-color: #4f4f4f;
  padding: 0 30px;
  overflow: hidden; }
  .nav:before, .nav:after {
    content: '';
    display: table; }
  .nav:after {
    clear: both; }

.nav__menu {
  float: left;
  font-size: 0; }

.nav__item, .footer__item {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  margin-left: 27px; }
  .nav__item:first-child, .footer__item:first-child {
    margin-left: 0; }

.nav__link, .footer__link {
  display: block;
  padding: 17px 0 19px 0;
  font-size: 14px;
  line-height: 16px;
  color: #e2e2e2; }
  .nav__link.nav__link--active, .nav__link--active.footer__link {
    color: #ed6d3b; }

.nav__form {
  float: right;
  width: 230px;
  position: relative;
  margin-top: 10px; }

.nav__input {
  width: 100%;
  font-size: 14px;
  padding: 5px 15px;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .nav__input::-webkit-input-placeholder {
    color: #c0c0c0; }
  .nav__input::-moz-placeholder {
    color: #c0c0c0; }
  .nav__input:-ms-input-placeholder {
    color: #c0c0c0; }

.nav__submit {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
  padding: 0;
  border: none;
  background: #fff url(../img/magnifier.png) 0 0 no-repeat; }

.header {
  margin-bottom: 7px; }

.header__inner {
  padding: 17px 30px 26px 30px;
  color: #4f4f4f; }
  .header__inner:before, .header__inner:after {
    content: '';
    display: table; }
  .header__inner:after {
    clear: both; }

.header__logo, .header__contacts, .header__account-items {
  float: left; }

.phones, .header__message, .header__icq, .header__basket, .header__cab {
  position: relative; }
  .phones:before, .header__message:before, .header__icq:before, .header__basket:before, .header__cab:before {
    content: '';
    left: -26px;
    top: 50%;
    margin-top: -9px;
    position: absolute;
    background: url(../img/icon-header-sprite.png) 0 0 no-repeat; }

.header__logo {
  width: 24%; }
  .header__logo img {
    max-width: 230px;
    display: block; }

.header__contacts {
  width: 41%;
  padding-top: 27px;
  margin-left: 55px;
  color: #4f4f4f; }
  .header__contacts .header__message, .header__contacts .header__icq {
    color: #4f4f4f;
    font-size: 13px;
    display: inline-block;
    text-align: bottom; }
  .header__contacts .header__message {
    margin-left: 26px; }
    .header__contacts .header__message:before {
      width: 16px;
      height: 12px;
      margin-top: -5px;
      background-position: -33px -30px; }
  .header__contacts .header__icq {
    margin-left: 44px;
    text-decoration: none; }
    .header__contacts .header__icq:before {
      width: 18px;
      height: 18px;
      background-position: -5px -30px; }

.phones {
  margin-bottom: 5px;
  font-size: 20px;
  position: relative;
  margin-left: 22px; }
  .phones span {
    color: #ed6d3b; }
  .phones:before {
    width: 14px;
    height: 18px;
    background-position: -59px -5px; }

.header__account-items {
  width: 23%;
  padding-top: 37px;
  font-size: 13px;
  padding-left: 30px;
  margin-left: 30px;
  box-sizing: border-box; }
  .header__account-items .header__basket {
    margin-bottom: 5px; }
    .header__account-items .header__basket:before {
      width: 16px;
      height: 15px;
      background-position: -31px -5px; }

.header__cab {
  color: #ed6d3b; }
  .header__cab:before {
    width: 16px;
    height: 15px;
    background-position: -5px -5px; }

.content {
  margin-bottom: 8px; }

.content__inner {
  padding: 30px;
  background-color: #f8f8f8; }
  .content__inner:before, .content__inner:after {
    content: '';
    display: table; }
  .content__inner:after {
    clear: both; }

.variable-content {
  width: 670px;
  float: right; }

.sidebar {
  float: left;
  width: 23.5%; }

.categories__list {
  margin-bottom: 81px; }

.categories__item {
  margin-bottom: 2px; }

.categories__title-link {
  display: block;
  padding: 9px 17px 6px 17px;
  font-size: 14px;
  color: #4f4f4f;
  background-color: #f3f2f0; }
  .categories__title-link:active, .categories__title-link:visited {
    color: #4f4f4f; }
  .categories__title-link.categories__title-link--active {
    color: #fff;
    background-color: #ed6d3b;
    text-decoration: none; }

.categories__content {
  padding: 10px 0;
  display: none; }

.categories__content-link {
  position: relative;
  display: block;
  font-size: 13px;
  margin-left: 30px;
  padding-top: 3px;
  display: block;
  color: #8c8c8c; }
  .categories__content-link:active, .categories__content-link:visited {
    color: #8c8c8c; }
  .categories__content-link:before {
    content: '\2014';
    position: absolute;
    left: -18px; }

.newsblock {
  margin-bottom: 35px; }

.newsblock__item {
  margin-bottom: 23px; }
  .newsblock__item:last-child {
    margin-bottom: 0; }

.newsblock__date {
  font-size: 12px;
  color: #898989; }

.newsblock__title {
  font-size: 14px;
  color: #4f4f4f; }

.newsblock__content {
  margin: 0;
  font-size: 13px;
  color: #7d7d7d; }

.button-callback {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  font-size: 20px;
  color: #fff;
  text-align: left;
  padding: 12px 18px 12px 18px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background: #ed6d3b url(../img/ico_pensil.png) 168px center no-repeat; }
  .button-callback:hover, .button-callback:active, .button-callback:visited {
    text-decoration: none;
    color: #fff; }

.banner {
  display: block;
  width: 100%;
  margin-bottom: 30px; }
  .banner img {
    display: block;
    max-width: 100%; }

.variable-content__slider .owl-carousel {
  margin-bottom: 40px; }

.slaider__item {
  padding-left: 45px;
  position: relative; }

.slaider__item-title, .product-card__title {
  margin: 0;
  width: 295px;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 14px; }

.param-box {
  width: 265px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.slaider__item-parameters {
  margin-left: 9px;
  color: #4f4f4f;
  font-size: 13px; }

.slaider__item-row:before, .slaider__item-row:after {
  content: '';
  display: table; }
.slaider__item-row:after {
  clear: both; }
.slaider__item-row:nth-child(odd) {
  background-color: #f3f2f0; }

.slaider__item-key, .slaider__item-value {
  width: 49%; }

.slaider__item-key {
  float: left;
  margin-left: 3px; }

.slaider__item-value {
  float: right; }

.price-text, .price-num, .price-valute .in-cart {
  display: inline-block;
  vertical-align: middle; }

.price-text {
  font-size: 18px;
  line-height: 20px;
  color: #717171; }

.price-num {
  font-size: 22px;
  margin-left: 11px; }

.price-valute {
  font-size: 14px;
  color: #717171;
  margin-left: 11px; }

.in-cart {
  position: relative;
  padding: 8px 21px 8px 7px;
  margin-left: 21px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #4f4f4f;
  text-decoration: none;
  transition: background-color .5s; }
  .in-cart:hover, .in-cart:active {
    text-decoration: none;
    color: #fff;
    background-color: #ed6d3b; }
  .in-cart span {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 8px;
    display: block;
    width: 7px;
    height: 12px;
    background: url(../img/ico-cart-tri.png) 0 0 no-repeat; }

.slider__item-product-pict {
  width: 292px;
  position: absolute;
  height: 100%;
  top: 0;
  right: 30px; }

.product-img {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute; }

.variable-content__slider .owl-prev, .variable-content__slider .owl-next {
  position: absolute;
  width: 24px;
  height: 49px;
  top: 50%;
  margin-top: -24px;
  background: url(../img/sl-arrows.png) 0 0 no-repeat; }
.variable-content__slider .owl-prev {
  left: 0; }
  .variable-content__slider .owl-prev:hover, .variable-content__slider .owl-prev:active {
    background-position: 0 -58px; }
.variable-content__slider .owl-next {
  right: 0;
  background-position: -31px 0; }
  .variable-content__slider .owl-next:hover, .variable-content__slider .owl-next:active {
    background-position: -31px -58px; }

.products-block {
  background-color: #fff;
  padding-left: 14px;
  padding-top: 5px;
  margin-bottom: 23px; }

.products-block-title {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 18px;
  color: #000; }

.products-item-list {
  margin-left: -20px; }
  .products-item-list:before, .products-item-list:after {
    content: '';
    display: table; }
  .products-item-list:after {
    clear: both; }

.products-item {
  width: 196px;
  margin-left: 20px;
  padding-bottom: 24px;
  text-align: center;
  display: inline-block;
  vertical-align: top; }

.products-item__display {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative; }

.products-item__img {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute; }

.products-item__price {
  position: absolute;
  right: 0;
  padding: 3px 6px;
  bottom: 0;
  font-size: 24px;
  line-height: 26px;
  color: #fff;
  background-color: #4f4f4f;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .products-item__price span {
    font-size: 18px; }

.products-item__title {
  color: #ed6d3b;
  font-size: 14px; }

.observes {
  margin-bottom: 40px; }

.observes__item {
  margin-bottom: 40px; }
  .observes__item:before, .observes__item:after {
    content: '';
    display: table; }
  .observes__item:after {
    clear: both; }
  .observes__item:last-child {
    margin-bottom: 0; }

.observes__title, .about__title {
  font-size: 24px;
  margin-bottom: 15px;
  color: #4f4f4f; }

.observes__illust {
  float: left;
  width: 196px;
  position: relative;
  border: 1px solid #4f4f4f; }

.obs-iilustr {
  display: block;
  width: 100%; }

.observes__content {
  margin-left: 210px; }

.observes__header {
  font-size: 14px;
  color: #ed6d3b;
  line-height: 20px; }

.observes__text, .read-forw {
  margin: 0;
  font-size: 13px; }

.read-forw {
  color: #ed6d3b; }

.breadcrumbs {
  margin-bottom: 15px; }

.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle; }
  .breadcrumbs__item:first-child:before {
    display: none; }
  .breadcrumbs__item:before {
    content: '';
    width: 8px;
    height: 5px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/breadcrumbs-arrow.png) 0 0 no-repeat; }
  .breadcrumbs__item.breadcrumbs__item--active .breadcrumbs__link {
    color: #8c8c8c;
    text-decoration: none; }

.breadcrumbs__link {
  font-size: 14px;
  color: #ed6d3b; }

.view-switching {
  background-color: #4f4f4f;
  padding: 0 14px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 13px; }
  .view-switching:before, .view-switching:after {
    content: '';
    display: table; }
  .view-switching:after {
    clear: both; }

.view-switching__left {
  color: #fff;
  font-size: 14px;
  float: left; }

.view-switching__right {
  margin-left: 83px; }

.view-switching__item {
  display: inline-block;
  margin-bottom: 7px;
  margin-left: 4px;
  vertical-align: top; }
  .view-switching__item:last-child .view-switching__link {
    font-size: 24px;
    line-height: 16px;
    padding: 0;
    color: #fff;
    vertical-align: middle;
    background: transparent;
    /* Old browsers */
    background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%, transparent 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%, transparent 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */ }

.view-switching__link {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 8px;
  text-decoration: none;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #d8d8d8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d8d8d8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, #d8d8d8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #d8d8d8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #d8d8d8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #d8d8d8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.sort {
  margin-bottom: 8px;
  color: #8c8c8c;
  font-size: 13px;
  line-height: 15px; }

.sort__to, .sort__date, .sort__price {
  display: inline-block;
  vertical-align: middle; }

.sort__date, .sort__price {
  margin-left: 12px; }

.sort__link {
  display: block;
  color: #8c8c8c;
  padding: 3px 15px 3px 6px;
  position: relative; }
  .sort__link.sort__link--active {
    text-decoration: none;
    background-color: #eeeeee; }
    .sort__link.sort__link--active:after {
      background-position: -9px 0; }
  .sort__link:after {
    content: '';
    width: 5px;
    height: 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 5px;
    background: url(../img/ico-sort.png) 0 0 no-repeat; }

.pagination {
  margin-bottom: 55px;
  font-size: 13px;
  color: #4f4f4f; }
  .pagination:before, .pagination:after {
    content: '';
    display: table; }
  .pagination:after {
    clear: both; }
  .pagination a {
    font-size: 13px;
    color: #4f4f4f; }

.pagination__left {
  float: left; }

.pagination__item, .pagination__prev, .pagination__next {
  display: inline-block;
  vertical-align: middle; }

.pagination__right {
  float: right;
  width: 327px;
  padding-top: 8px;
  text-align: justify;
  line-height: 0; }
  .pagination__right li {
    display: inline-block;
    vertical-align: middle; }

.pagination__right:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  content: " ";
  display: inline-block; }

.pagination__list {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px; }

.pagination__item {
  width: 19px;
  height: 19px;
  padding: 2px 2px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .pagination__item.pagination__item--active {
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.58);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.58);
    box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.58); }
    .pagination__item.pagination__item--active .pagination__link {
      background: #ff9555;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ff9555 0%, #ed713b 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9555), color-stop(100%, #ed713b));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ff9555 0%, #ed713b 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ff9555 0%, #ed713b 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ff9555 0%, #ed713b 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ff9555 0%, #ed713b 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */
      color: #fff;
      border: 1px solid #da896a;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box; }
    .pagination__item.pagination__item--active .pagination__unit {
      text-decoration: none; }

.pagination__link {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  text-align: center; }

.pagination__unit {
  text-decoration: underline;
  position: absolute;
  line-height: 19px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute; }

.pagination__prev:before {
  content: '';
  width: 8px;
  height: 5px;
  margin-right: 11px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/ico-arrow-pagination.png) -10px 0 no-repeat; }

.pagination__next:after {
  content: '';
  width: 8px;
  height: 5px;
  display: inline-block;
  margin-left: 11px;
  vertical-align: middle;
  background: url(../img/ico-arrow-pagination.png) 0 0 no-repeat; }

.product-card__slideshow {
  margin-bottom: 23px; }
  .product-card__slideshow:before, .product-card__slideshow:after {
    content: '';
    display: table; }
  .product-card__slideshow:after {
    clear: both; }

.product-card__slideshow-block {
  float: left; }

.product-card__slideshow-display {
  width: 330px;
  height: 265px;
  margin-bottom: 6px;
  border: 10px solid #f3f2f0;
  background-color: #f3f2f0;
  position: relative; }

.display-link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  overflow: hidden; }

.product-card__slideshow-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute; }

.product-card__slideshow-thumbs {
  padding: 0 10px;
  margin-left: -7px;
  box-sizing: border-box;
  font-size: 0; }

.product-card__slideshow-item {
  float: left;
  margin-left: 7px; }

.product-card__slideshow-link {
  width: 104px;
  height: 82px;
  display: block;
  position: relative;
  border: 1px solid #ececec; }
  .product-card__slideshow-link:hover {
    border-color: #ed6d3b; }
  .product-card__slideshow-link.product-card__slideshow-link--active {
    border-color: #ed6d3b; }

.product-card__slideshow-thumb-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  max-width: 95%;
  max-height: 95%; }

/*--------------info-----------*/
.product-card__info {
  float: left;
  margin-left: 16px; }

.product-card__info-box {
  margin-bottom: 12px;
  border-top: 1px solid #f3f2f0;
  border-bottom: 1px solid #f3f2f0; }

.product-card__info-descr {
  padding-top: 5px;
  padding-bottom: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }

.product-card__button-price, .message-form .message-form__submit {
  width: 262px;
  position: relative;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border: 1px solid #b86024;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ff993e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff993e 0%, #ea7a2f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff993e), color-stop(100%, #ea7a2f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff993e 0%, #ea7a2f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff993e 0%, #ea7a2f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff993e 0%, #ea7a2f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff993e 0%, #ea7a2f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

.product-card__button-price-inner {
  position: absolute;
  width: 99%;
  height: 3px;
  right: 0;
  left: 0;
  top: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ffc95c;
  border-bottom: none; }

.price-panel {
  font-size: 30px;
  font-weight: bold;
  color: #fff; }

.button-buy {
  display: block;
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -16px;
  padding: 2px 12px 5px 17px;
  font-size: 24px;
  font-weight: bold;
  color: #4f4f4f;
  line-height: 26px;
  text-decoration: none;
  border: 1px solid #c4c4c4;
  background: #f4f4f4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f4f4 0%, #c9c9c9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #c9c9c9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #c9c9c9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f4f4 0%, #c9c9c9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f4f4 0%, #c9c9c9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f4f4 0%, #c9c9c9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .button-buy:hover, .button-buy:active {
    color: #4f4f4f;
    text-decoration: none; }
  .button-buy:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 98%;
    bottom: -2px;
    right: 0;
    left: 0;
    background-color: #8f5f3a; }

/*----------socials----------*/
.social-buttons {
  margin-bottom: 27px; }
  .social-buttons:before, .social-buttons:after {
    content: '';
    display: table; }
  .social-buttons:after {
    clear: both; }

.social-buttons__friends {
  width: 80px;
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #adadad; }

.social-buttons__items {
  float: left;
  margin-left: 10px;
  margin-top: 10px; }

/*--------------callback-----*/
.product-card__callback-item {
  margin-left: 30px; }

.product-card__callback-link {
  color: #ed6d3b;
  position: relative;
  display: block; }
  .product-card__callback-link:hover, .product-card__callback-link:active {
    color: #4f4f4f; }
  .product-card__callback-link:before {
    content: '\2014';
    position: absolute;
    left: -23px;
    top: 0;
    color: #4f4f4f; }

/*--------testimonials-----*/
.testimonials {
  margin-bottom: 18px;
  color: #4f4f4f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #e6e6e6;
  position: relative; }
  .testimonials:before, .testimonials:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 45px;
    left: 0;
    right: 0;
    z-index: 0;
    background: url(../img/tabs-shadow.png) 0 0 no-repeat; }
  .testimonials:before {
    top: -11px; }
  .testimonials:after {
    bottom: -13px; }

.testimonials__inner {
  padding: 10px 17px 39px 17px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

.tabs {
  margin-left: -16px;
  margin-bottom: 20px; }

li.tabs__item {
  padding: 7px 10px;
  display: inline-block;
  vertical-align: top;
  margin-left: 16px; }
  li.tabs__item.tabs__item--active {
    border-bottom: 0 none;
    color: #4f4f4f;
    background-color: #f3f2f0; }
  li.tabs__item.tabs__item--active .tabs__link {
    border-bottom: 0 none;
    color: #4f4f4f; }

.tabs__link {
  display: block;
  text-decoration: none;
  border-bottom: 1px dashed #4f4f4f;
  color: #ed6d3b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 16px;
  line-height: 18px; }

.tabs__contents-title {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px; }

.tabs__contents-text {
  margin-bottom: 0; }

/*-----------similar-----------*/
.products-block-title--similar {
  font-style: italic;
  text-decoration: none;
  color: #2d2d2d;
  font-size: 18px; }
  .products-block-title--similar:hover, .products-block-title--similar:active {
    text-decoration: none;
    color: #2d2d2d; }

.products-item-list--similar {
  margin-left: 0; }

.products-item--similar {
  width: 21%;
  text-align: left;
  margin-bottom: 30px; }

.products-item__display--similar {
  height: 140px; }

.products-item__price--similar {
  left: 0;
  right: auto; }

.products-item__title--similar {
  font-size: 12px;
  line-height: 16px; }

.products-item__img--similar {
  max-width: 120px;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  margin: 0; }

.tabs__content-testimonials {
  display: none; }

.testimonial__item {
  margin-bottom: 40px; }
  .testimonial__item:before, .testimonial__item:after {
    content: '';
    display: table; }
  .testimonial__item:after {
    clear: both; }

li.testimonial__item-user {
  float: left;
  text-align: center; }

.user-pic {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #ed6d3b;
  position: relative;
  overflow: hidden; }
  .user-pic img {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    max-width: 100%; }

.user-name {
  font-weight: bold; }

.testimonial__item-text {
  padding: 10px 20px;
  padding-left: 100px;
  margin-left: 150px;
  background-color: #F3F2F0;
  position: relative; }

.quote-icon {
  width: 30px;
  position: absolute;
  top: 30px;
  left: 20px; }
  .quote-icon img {
    width: 100%; }

.message-form {
  width: 300px;
  background-color: #4f4f4f;
  padding: 20px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .message-form .send-message__label, .message-form .message-input, .message-form .text-input {
    display: block;
    width: 100%; }
  .message-form label {
    color: #e2e2e2; }
  .message-form .message-input, .message-form .text-input {
    box-sizing: border-box;
    padding: 7px 16px;
    margin-bottom: 20px; }
  .message-form .text-input {
    height: 100px;
    resize: none; }
  .message-form .message-form__submit {
    padding: 7px 10px;
    margin: 0;
    width: auto; }

.delivery__title {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
  color: #4f4f4f; }

.conditions {
  margin: 0;
  padding: 0;
  margin-left: 20px; }

.conditions__item {
  list-style-type: decimal;
  margin-bottom: 10px; }

.footer {
  font-size: 13px;
  color: #747474; }
  .footer a {
    color: #4f4f4f; }
    .footer a:active, .footer a:hover, .footer a:visited {
      color: #4f4f4f; }

.footer__top {
  padding: 0 30px;
  background-color: #fff;
  margin-bottom: 12px; }

.footer__bottom {
  padding: 0 30px;
  height: 138px; }
  .footer__bottom:before, .footer__bottom:after {
    content: '';
    display: table; }
  .footer__bottom:after {
    clear: both; }

.footer__link {
  font-size: 13px;
  color: #747474; }

.footer__address {
  float: left;
  width: 32%; }

.footer__copyright {
  color: #4f4f4f; }

.footer__metrics {
  float: left; }

.footer__designer {
  float: right; }

.footer__location {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
